<div class="overlay" *ngIf="isModalVisible()">
  <dialog class="modal" [open]="isModalVisible()">
    <p class="error" [ngClass]="{ hidden: !formInvalid }" *ngIf="formInvalid">
      Nope, not valid :/
    </p>
    <form #form="ngForm" (ngSubmit)="onSubmit(form, $event)">
      <div class="input">
        <label for="task">Task</label>
        <input
          type="text"
          id="task"
          name="task"
          placeholder="Pick up grocries..."
          autofocus
          required
          ngModel
        />
      </div>
      <div class="input">
        <label for="status">Status</label>
        <input
          type="text"
          id="status"
          name="status"
          placeholder="In progress..."
          required
          ngModel
        />
      </div>
      <div class="input">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          placeholder="Go to nearest convenience store..."
          rows="4"
          cols="40"
          ngModel
        ></textarea>
      </div>
      <div class="actions">
        <button type="submit" [disabled]="!form.valid">Add Card</button>
        <button class="cancel" (click)="closeModal()">Abort Mission</button>
      </div>
    </form>
  </dialog>
</div>
